# .inputrc: the configuration file for the readline library
# run `bind -V` to see all the key bindings

# tab completions
set show-all-if-ambiguous on
set completion-ignore-case on
set menu-completion-display-prefix on
TAB:menu-complete

# mark symlinked directories
set mark-symlinked-directories on

# disable "display all possibilities prompt when too many items"
set completion-query-items 9999
set page-completions off

# disable alert bell
set bell-style none

