# My aliases
# References:
# - https://lift.cs.princeton.edu/java/.bashrc
# - https://github.com/mathiasbynens/dotfiles/blob/main/.aliases
# - and more

# Directories
alias ..="cd .."
alias -- -="cd -"
alias md="mkdir -p"

# Detect which `ls` flavor is in use
if ls --color >/dev/null 2>&1; then # GNU `ls`
  colorflag="--color"
else # macOS `ls`
  colorflag="-G"
fi

# ls
if command -v lsd &>/dev/null; then
  alias ls='lsd -F'
else
  alias ls="ls -F ${colorflag}"
fi
alias ll="ls -lh"
alias la="ls -A"
alias l="ll -A"

# interactive
# alias cp="cp -i"
# alias ln="ln -i"
# alias mv="mv -i"
# alias rm="rm -i"

# pagers
alias less="less --quit-at-eof --no-init --tabs=4 --RAW-CONTROL-CHARS"
alias more="less"

# grep
alias grep="grep --color=auto"
alias egrep="grep -E --color=auto"
alias fgrep="grep -F --color=auto"
alias rg="rg --smart-case --color=auto"

# neovide
alias nv="nohup neovide &"

# windsurf
alias ws="windsurf"

# cursor
alias cs="cursor"

# git
[[ -f ~/.gitaliases ]] && source ~/.gitaliases
